<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../Styles/Shared.css">
        <link rel="stylesheet" href="../Styles/Home.css">

        <title>Home Controller</title>
    </head>
    <body>
        <div class="wrapper">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Menu</h3>
                </div>

                <ul class="list-unstyled components">                    
                    <li>
                        <a href="/Home">Home</a>                        
                    </li>
                    <li>
                        <a href="/Controls">Controls</a>
                    </li>
                    <li>
                        <a href="/Data">Data</a>
                    </li>
                    <li>
                        <a href="/Settings">Settings</a>
                    </li>
                    <li>
                        <a href="/Logout">Logout</a>
                    </li>
                </ul>              
            </nav>
            <div id="navbar">
                <nav class="navbar">                                         
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>                              
                </nav>                          
            </div>    
            <div id="content" class="row d-flex justify-content-center">       
                <legend class="page-title">Home<div id="WelcomeContainer" class="container-fluid">Welcome <a id="FirstName"></a></div> </legend>                   
                <div>
                    <ul>
                        <li class="quick-link d-flex justify-content-center">
                            <a href="/Controls" class="p-5">
                                Controls
                            </a>
                        </li>
                        <li class="quick-link d-flex justify-content-center">
                            <a href="/Data" class="p-5">
                                Data
                            </a>
                        </li>
                        <li class="quick-link d-flex justify-content-center">
                            <a target="blank" href="https://store.arduino.cc/usa/" class="p-5">
                                Buy More Arduino's
                            </a>   
                        </li>
                    </ul>                  
                </div> 
            </div>          
        </div>
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="../Scripts/Shared/Menu.js"></script>  
        <script src="../Scripts/Home/HomeView.js"></script>         
        <script src="../Scripts/Home/HomeController.js"></script>       
    </body>
</html>